.container-fluid {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1569248008810-cab0463f82e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-entry{
    top: 30%;

}

.forecast {
    top: 70%;
}